@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Plus Jakarta Sans pacifico;
}

/* Header after scrolling linked with javascript */
header.scrolled {
  background: rgba(67, 66, 66, 0.85); /* Solid after scroll */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

body {
    background-color: #fff5e1;
}

header {
  position: fixed;          /* Keeps header static on scroll */
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 60px;
  z-index: 1000;
 
  /*background header : #081a2b;*/
  background: rgba(0, 0, 0, 0.1); /* Transparent */
  backdrop-filter: blur(6px);    /* Optional glass effect */
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.image {
    transform: scale(1.2) translate(90px);
    align-items: center;
    padding-right: -60px;
}

.image2 {
    transform: scale(1.5) translate(110px);
    align-items: left;
    padding-right: 60px;
    margin-right: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.fa-bars {
    display: none;
}

ul {
    display: flex;
    gap: 2em;
    align-items: center;
    padding-top: 5px;
}


ul li a {
    /*color: #ffffff;*/
    color:#000000;
}

.logo {
    color: #000000;
    text-shadow: 0px 0px 10px rgba(255, 211, 105, 0.7);
}

.fa-bars {
    color: white;
    font-size: 1.4em;
}

.fa-bars:hover {
    color: #fff;
    transition: all 0.5 ease;
}

.cta a:hover {
    color: #ffffff;
}



/* --header media query */

@media(max-width:866px) {

    header {
        background-color: #1F1D36;
    }

    nav {
        justify-content: space-between;
        text-align: center;

    }

    .cta {
        display: none;
    }


    .fa-bars {
        display: block;
    }

}



/* hero sect starts here */


.hero-sect {
    position: relative;
    top: 110px;

}

.hero-text2 {
    border: 2px solid red;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 100px;
    position: relative;
    /* top: 80px; */

}




.hero-text h1 {
    border: 2px solid black;
    border: none;
    padding: 20px;
    color: #5c4033;
    font-family: 'Finger Paint', cursive;

}


.hero-text h2 {
    padding: 20px;
    font-weight: 200;
    /*color: white;*/
    color: rgb(0, 0, 0);
    /*font-family: 'Finger Paint', cursive;*/
}

.social-icons {
    border: 2px solid greenyellow;
    border: none;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.social-icons a {
    color: #5c4033;
    text-shadow: 0px 0px 10px rgba(255, 211, 105, 0.7);
    font-size: 22px;
    transition: 0.3 ease;
}

.social-icons a:hover {
    color: white;
}



 .sectionskill {
    padding-top: 200px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 100px;
 }
 
 .sectionskill h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 40px;
    
 }
 
 /* Skills */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    color: #fff5e1;

}

.skills-grid span {
    background: #5e3929;
    color: #000000;
    padding: 14px;
    text-align: center;
    border-radius: 6px;
}

/* hero sect media query */


@media(max-width:768px) {

    .hero-text2 {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        align-items: center;
        text-align: center;
    }
}


/* services section starts here */

.services {
    position: relative;
    top: 180px;
    
    /* padding: 20px 24px; */

}


.wrapper {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;

}



.services h2 {
    text-align: center;
    padding: 25px 24px 15px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 5px;
}


.services-container {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 12px 20px;
}

.service-box1 {
    padding: 20px;
    border: 2px solid #5c4033;
    min-width: 220px;
    max-width: 220px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: #000000;
}


.service-box1 p {
    font-weight: 200;
    font-size: 15px;


}

.service-box1 h3 {
    font-weight: 600;
    font-size: 1em;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
}


.service-boxt {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 12px 20px;
}


.service-box2 {
    padding: 20px;
    border: 2px solid #5c4033
    ;
    min-width: 220px;
    max-width: 220px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: #000000;
}


.service-box2 h3 {
    font-weight: 6020;
    font-size: 1em;
    padding: 10px;
    text-align: center;
}



.service-box2 p {
    font-weight: 200;
    font-size: 15px;
}


.card1 {
    width: 50%;
}

.card2 {
    width: 50%;
    padding-bottom: 70px;
    margin-top: 40px;

}

.card2 span {
    color: #5c4033;
    font-family: 'Finger Paint', cursive;
}


.card2 h2 {
    justify-content: start;
    align-items: start;
    font-weight: 600;
    font-size: 2em;
    padding: 16px 0;
}


.card2 p {
    padding-bottom: 20px;
    margin: auto;
    color: #000000;
    font-weight: 400;
    line-height: 20px;
    font-size: .9em;

}

.btn {
   /* padding: 10px 0; */
    display: inline-block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: 1px solid #000;
    font-weight: 600;
    text-align: center;
    
}

.btns {
    display: flex;
    gap: 1rem;              /* space between buttons */
    align-items: center;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    /*border: 1px solid #000;*/
    font-weight: 600;
    text-align: center;
}


.btns a {
    padding: 12px 18px;
    border-radius: 5px;
    color: #000000;
    border: none;
    font-size: 1em;
    background-color: #5c4033;
}

.btns a:hover {
    background-color: #ffffff;
    transition: all 1.5 ease;
}



/* services media query */


@media(max-width:1300px) {

    .wrapper {
        /* border: 2px solid red; */
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 5em;
    }
}




@media(max-width:1105px) {

    .wrapper {
        /* border: 2px solid greenyellow; */
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 5em;
    }
}



@media(max-width:978px) {

    .wrapper {
        /* border: 2px solid greenyellow; */
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 12px 18px;

    }

    .card1 {
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .service-box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .card2 {
        /* border: 2px solid red; */
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}



@media(max-width:644px) {

    .services-container {
        display: flex;
        flex-direction: column;

    }

    .service-boxt {
        display: flex;
        flex-direction: column;

    }

    .card2 {
        text-align: center;
    }

}



/* another section starts here */

.marq-images {
    position: relative;
    top: 250px;
    /* padding: 20px 0; */
}


.marq-images h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    padding: 20px;
}


/*.skills-images {
    display: flex;
    align-items: center;
    justify-content: center;
} */





/* skills section media query */

@media(max-width:766px) {
    .skills-images {
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

} 



.info {
    position: relative;
    top: 100px;
    bottom: -200px;
    /* border: 2px solid red; */
}

.epistle {
    width: 50%;
    color: black;
    padding: 20px 0px;

}

.epistle h1 {
    font-family: 'Finger Paint', cursive;
    color: #5c4033;
}

.epistle p {
    color: black;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
}

.about-me {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.image {
    padding: 20px;
    border-radius: 50%;
    margin-right: 200px;
}

.info h2 {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-weight: 500;
}

/* about me media query */
@media(max-width:768px) {

    .epistle {
        width: 100%;
        padding: 20px;
        /* margin: auto; */
    }

    .about-me {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 170px;
        align-items: center;
    }


}

/* -----project---section----*/

.projects {
  max-width: 1000px;
  margin: 230px auto;
  padding: 0px 0px;
}

.projects h2 {
  text-align: center;
  margin-bottom: 20px;
  /*font-size: 2.2rem;*/
  color: rgb(0, 0, 0);
}

.project-card {
  border-left: 4px solid #5c4033;
  padding: 20px 25px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.project-card h3 {
  margin-bottom: 10px;
  color: #5c4033;
}

.project-card .summary {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #000000;
}
/*.project-card p{
    color: black;

}*/

.project-card ul {
  list-style: none;
  padding: 0;
}

.project-card ul li {
  margin-bottom: 8px;
  font-size: 0.95rem;
  color: rgb(0, 0, 0);
}








/* recent work media query */
@media(max-width:883px) {



    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }


    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

}

@media(max-width:478px) {


    .pictimg {

        width: 300px;
    }

    .upper-cards p {

        width: 300px;
    }

    .lower-cards p {
        width: 300px;
    }

    .project-card {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media(max-width:395px) {


    .pictimg {

        width: 250px;
    }

    .upper-cards p {

        width: 250px;
    }

    .lower-cards p {

        width: 250px;
    }


    .project-card {
        width: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}



/*.contactsect{
   
    /*top: 370px;
    padding: 20px;
    display: flex;
    justify-content: left;

}*/

/*.contactinner{
    width: 100%;
    /*max-width: 880px;
    text-align: left;
    margin: 0px;
}*/

/*.contactinner h2{
     color: white;
    text-align: center;
    font-weight: 500;
    padding: 20px;
}


.contactform{
    width: 100%;
}


.contactrow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 20px;
    align-items: start;
}



.contactfield{
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 14px 18px;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    width: 100%;
}


.messagehere{
    width: 100%;
    height: 360px;
   resize: vertical;
   padding: 22px;
   font-size: 16px;
   line-height: 1.5;
}


.fieldcaption{
    text-align: left;
    font-size: 14px;
    margin: 10px 0 24px;
    margin-left: 4px;
    border: none;
}

.ctawrap{
    display: flex;
    justify-content: center;
}*/


/*Contact links socials */

.contactsect{
   
    /*top: 370px;*/
    padding: 0px;
    display: flex;
    margin-top: -150px;
    

}

.contactinner h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    padding: 20px;
    margin-left: 410px;
    
}


.contact-social  {
    margin-bottom: 1rem;
    display: block;
    float: none;
    display: grid;
    row-gap: 20px;
}

.contact-social a {
    color: black;
    font-style: italic;

}

.contact-social a:hover {
    color: white;

}
/*.contact-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    text-align: justify;
}

.contact-links a:hover {
    border-bottom: 1px solid currentColor;
    color: #ffffff;
}*/



/*blog post */

.blog {
  max-width: 1000px;
  margin: 70px auto;
  padding: 0 20px;
  text-align: center;
}

.blog h2 {
   margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.blog-intro {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 1rem;
  opacity: 0.85;
  color: rgb(0, 0, 0);
}





.slider-container {
  position: relative;
  overflow: hidden;
}

.slider-container:hover .nav-btn {
    opacity: 1;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.blog-card {
  min-width: 100%;
  background: rgba(255, 0, 0, 0.05);
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  height: 100%;
}


.blog-card h3 {
  margin-bottom: 15px;
  color: #5c4033;
}

.blog-card p {
  line-height: 1.7;
  margin-bottom: 20px;
}

.tag {
  display: inline-block;
  padding: 6px 12px;
  font-size: 0.8rem;
  background: #5c4033;
  color: #000;
  border-radius: 20px;
}

.nav-btn {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  background: 50%;
  border: none;
  color: #5c4033;
  font-size: 2rem;
  cursor: pointer;
  padding: 0px 0px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}



